.container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 0;
    color: rgb(255, 255, 255);
}
.container div{
    margin: 2px 10px;
}
.container button{
    background-color: rgba(0, 255, 255, 0.516);
    font-weight: 700;
    border: none;
    border-radius: 4px;
    height: 30px;
}
.container button:hover{
    cursor: pointer;
    scale: 1.1;
}
.container h3{

}