.container{
    display: flex;
    padding-left: 20px;
    color: aliceblue;
    padding: 10px;
    background-color: rgba(128, 166, 226, 0.741);
    border-top: 2px solid rgb(0, 0, 0);
}

.container select{
    background-color: rgba(0, 255, 255, 0.516);
    border-radius: 5px;
    font-weight: 600;
    border: none;
    height: 25px;
}