.content{
    background-image: url("../../assets/conti.jpg");
    height: 680px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scale: 1.8;
    color: rgb(36, 61, 78);
    background-color: rgba(240, 248, 255, 0.463);
    border-radius: 5px;
    padding: 0 50px;
    
}
.ingresar {
    scale: 1.9;
}
.ingresar button{
    background-color: rgba(127, 255, 212, 0.144);
    padding: 5px;
    width: 100px;
    border: solid 2px gray;
    border-radius: 5px;
}

.ingresar button a{
    text-decoration: none;
}
.ingresar button:hover{
    color: black;
}

h1{
    margin-top: 0;
}